<h1><%= @cocktail.name %></h1>

<!-- @ingredients = Ingredient.all -->

<%= link_to "Add ingredient and dosage description", new_cocktail_dose_path(@cocktail) %>
<%= link_to "Go back", cocktails_path  %>
<br>
<br>
<% @cocktail.doses.each do |dose| %>
<p><%= dose.ingredient.name %>  - <%= dose.description %> <%= link_to "Delete this ingredient", dose_path(dose.id),
  method: :delete,
  data: { confirm: "Are you sure?" }  %> </p>
<% end %>
