<h1><%= @cocktail.name %></h1>

<!-- @ingredients = Ingredient.all -->

<%= link_to "Add ingredient and dosage description", new_cocktail_dose_path(@cocktail) %>
<%= link_to "Go back", cocktails_path  %>
<br>
<br>
<% @doses.each do |dose| %>
<p><%= Ingredient.find(dose.ingredient_id).name %>  - <%= dose.description %></p>
<% end %>
